/*.jumbotron {
    background-image: url("../img/nameTheseFruits.JPG");
    background-size: cover;
}
*/
.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.1;
    color: #fff;
    background: #000 url("../img/nameTheseFruits.JPG") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;


    position:absolute;
    top:0;left:0;
    z-index:1;
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
    position:relative;
    z-index:2;
}